[run]
# Укажите папку с вашим кодом
source = .

omit =
    # Исключаем системный файл запуска
    manage.py
    # Исключаем все миграции
    */migrations/*
    # Исключаем все команды
    */commands/*
    # Исключаем сами тесты (их покрытие не нужно)
    */tests/*
    */tests*
    # Исключаем настройки проекта (папка, где settings.py)
    config/*
    # Исключаем виртуальное окружение
    venv/*
    env/*

[report]
# Пропускать файлы, в которых нет исполняемого кода
skip_empty = True